.button1 , .button2{
   
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.493);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
    }
  .button1 {
    width: 140px;
    height: 45px;

      /* position:absolute;
     top: 15%;
     right : 20%; */
    
  }
   .navigate
  { 
       width:1830px;
       height: 90px; 
       
       display: flex; 
       justify-content: flex-end;
   } 
  .homebtn{
    margin:10px;
  }
  .hungarianbtn{
    margin: 10px;
  }
 
  .button2 {
    width: 190px;
    height: 45px;
    /* position:absolute;
   top: 15%;
   right : 8%; */
}
  .button1:hover , .button2:hover {
    background-color: #C9C0BB;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.493);
    color: #fff;
    /* transform: translateY(-7px); */
  }